#error_explanation {
  width: 600px;
  border: 2px solid black;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: black;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

div.flash {
	text-align: center;
	font: normal 22px/23px Times, serif;
	border: 1px solid #000;
	background-color: #f3f3f3;
	padding: 10px;
	border-radius: 2px;
	color: #597A8C;
}




















