body {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background-color: #ad4f52;
}
h1 {
	color: #FFF;
	font-size: 55px;
	font-family: Times, serif;
	letter-spacing: -3px;
	margin-bottom: 6px;
	padding-bottom: 30px;
	text-align: center;
}
p, a, label {
	color: #FFF;
	font-family: serif;
	font-size: 23px;
	font-weight: 500;
}
h2, h3, h4 {
	color: #FFF;
}
.field {
	input {
		background-color: #e1e1e1;
		border-radius: 4px;
	  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
		width: 250px;
		height: 30px;
		background-color: #ededed;
	  background-image: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ffffff)); /* Saf4+, Chrome */
	  background-image: -webkit-linear-gradient(top, #ededed, #ffffff); /* Chrome 10+, Saf5.1+, iOS 5+ */
	  background-image:         linear-gradient(to bottom, #ededed, #ffffff);
		margin: 3px 0px 3px 0px;
		font-size: 17px;
		border: 1px solid #333;
	}
}
.actions {
	input[type=submit] {
		background-color: #e1e1e1;
		border-radius: 4px;
		width: 120px;
		height: 30px;
		background-color: #ededed;
	  background-image: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ffffff)); /* Saf4+, Chrome */
	  background-image: -webkit-linear-gradient(top, #ededed, #ffffff); /* Chrome 10+, Saf5.1+, iOS 5+ */
	  background-image:         linear-gradient(to bottom, #ededed, #ffffff);
		margin-top: 12px;
		font-size: 17px;
		font-weight: bold;
		font-family: Times, serif;
		color : #597a8c;
		border: 1px solid #333;
	}
}


/* Nav Styles not in use */
nav {
	margin-bottom: 25px;
  padding: 13px 0px;
	width: 960px;
	background-color: #974040;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#974040), to(#7B3939)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #974040, #7B3939); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #974040, #7B3939); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #974040, #7B3939); /* IE10 */
  background-image:      -o-linear-gradient(top, #974040, #7B3939); /* Opera 11.10+ */
  background-image:         linear-gradient(to bottom, #974040, #7B3939);
	ul {
		margin: 0px;
	  padding: 0px;
		li {
			list-style-type: none;
		  display: inline-block;
		  padding: 0;
			a {
				padding-top: 15px;
			 	padding-bottom: 16px;
				padding-right: 30px;
				padding-left: 30px;
			  text-decoration: none;
				color: #FFF;
				font: normal 15px/23px Arial, sans-serif;
				-webkit-transition: all .35s linear;
				transition: all .35s linear;
			}
			a:visited {
				color: #FFF;
			}
			a:hover {
				color: #FFF;
				background-color: #974040;
				
			}
		}
	}
}






