.container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
}
h1 {
	color: #7ADEFF;
	margin-top: -12px;
	font-size: 20px;
	font-family: Tahoma, Geneva, sans-serif;
	margin-bottom: 6px;
	padding-bottom: 30px;
	text-align: left;
	font-weight: bold;
}
p, a, label {
	color: #000;
	font-family: serif;
	font-size: 23px;
	font-weight: 500;
}
h2, h3, h4 {
	color: #000;
}
.field {
	input {
		background-color: #e1e1e1;
		border-radius: 4px;
	  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
		width: 250px;
		height: 30px;
		background-color: #ededed;
	  background-image: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ffffff)); 
	  background-image: -webkit-linear-gradient(top, #ededed, #ffffff); 
	  background-image: linear-gradient(to bottom, #ededed, #ffffff);
		margin: 3px 0px 3px 0px;
		font-size: 17px;
		border: 1px solid #333;
	}
}
.actions {
	input[type=submit] {
		background-color: #e1e1e1;
		border-radius: 4px;
		width: 120px;
		height: 30px;
		background-color: #ededed;
	  background-image: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ffffff)); 
	  background-image: -webkit-linear-gradient(top, #ededed, #ffffff); 
	  background-image: linear-gradient(to bottom, #ededed, #ffffff);
		margin-top: 12px;
		font-size: 17px;
		font-weight: bold;
		font-family: Times, serif;
		color : #597a8c;
		border: 1px solid #333;
	}
}

div.navbar {
	width: auto;
	margin: -8px -8px 10px -10px; 
	height: 40px;
	box-shadow: 0px 2px 2px #1d1d1d;
	background-color: #1d1d1d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#424242), to(#1d1d1d)); 
  background-image: -webkit-linear-gradient(top, #424242, #1d1d1d); 
  background-image: linear-gradient(to bottom, #424242, #1d1d1d);
}
header {
	width: 960px;
	margin: -50px auto 40px auto; 
	height: 40px;
	background-color: transparent;
}
nav {
	margin-bottom: 0px;
  padding: 10px 0px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	ul {
		margin: 0px;
	  padding: 0px;
		float: right;
		li {
			list-style-type: none;
		  display: inline-block;
		  padding: 0;
			a {
				padding-top: 10px;
			 	padding-bottom: 10px;
				padding-right: 30px;
				padding-left: 30px;
			  text-decoration: none;
				color: #BABABA;
				font: normal 11px/23px Arial, sans-serif;
				-webkit-transition: color .5s linear;
				-moz-transition: color .5s linear;
				-o-transition: color .5s linear;
				transition: color .5s linear;
			}
			a:hover {
				color: #FFF;				
			}
		}
	}
}