body {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
h1 {
	font-size: 45px;
	font-family: Georgia, serif;
	letter-spacing: -3px;
	margin-bottom: 6px;
	padding-bottom: 30px;
	border-bottom: 1px solid black;
}
/* Nav Styles not in use */
nav {
  background-color: white;
  padding: 0 0;
  white-space: nowrap;
	float: right;
	ul {
		margin: 0;
	  padding: 0;
		li {
			list-style-type: none;
		  display: inline-block;
		  padding: 0.2em 0;
			a {
				padding: 10px 10px;
			  text-decoration: none;
				font-size: 20px;
				color: #000;
			}
			a:visited {
				color: #000;
			}
			a:hover {
				color: red;
			}
		}
	}
}
/* Styles for errors partial */
/*.field_with_errors {
  margin-top: 0px;
  padding: 0px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}*/
#error_explanation {
  width: 600px;
  border: 2px solid black;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: black;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}